<table>
  <tr *ngFor="let reference of references" (click)="open(reference.link)">
    <td>
      <ul style="list-style-type: square">
        <li>
          {{ reference.author }}
          {{ reference.date }}
          {{ reference.title }}
          {{ reference.source }}
        </li>
      </ul>
    </td>
    <td>
      <nz-qrcode
        [nzValue]="reference.link"
        style="background-color: rgba(255, 255, 255, 0)"
        [nzSize]="40"
      >
      </nz-qrcode>
    </td>
  </tr>
</table>
