<h3>Why we chose this topic:</h3>
<ul>
  <li>Because we've experienced online learning doing COVID19</li>
  <li>
    Helps students/teachers living abroad or away from Uni to be able to connect
    and communicate
  </li>
  <li>Paperless</li>
</ul>

<h3>Why is this topic important:</h3>
<ul>
  <li>
    Technology is becoming more advance therefore, improvement of security is
    important.
  </li>
  <li>
    During the COVID19 pandemic, technology became more important, as we had to
    do most of the work online.
  </li>
</ul>
