<div style="margin: 10px">
  <nz-timeline nzMode="alternate" [nzPending]="loading">
    <nz-timeline-item
      *ngFor="let timelineItem of timelineItems"
      [nzColor]="timelineItem.color"
    >
      {{ timelineItem.date | date }}<br />
      {{ timelineItem.title }}<br />
      {{ timelineItem.name }}
    </nz-timeline-item>
  </nz-timeline>
</div>
