<div nz-row style="margin: 15px">
  <div nz-col nzSpan="12">
    <font size="5">Challenges</font>
    <font size="4" style="vertical-align: bottom">
      of Communication In Online Learning
    </font>
    <br />
    <span>
      We may still experience connectivity issues, because of the high usage
      rate of online learning systems, which includes video streaming software
      and other digital tools. The platforms are overloaded causing poor video
      and audio quality, which can affect communication between students and
      teachers. During the COVID-19 pandemic, we all had to adapt to slow
      internet.
    </span>
    <br />
    <span>
      The quality of interactions between students and instructors can be
      negatively impacted by difficulties with nonverbal communication, such as
      body language, facial expressions, and tone of voice, in online learning.
    </span>
    <br />
    <span>
      Online learning might also reduce opportunities for impromptu or
      spontaneous contact, including in-person meetings or hallway chats, which
      can be crucial for fostering relationships and encouraging collaboration.
    </span>
  </div>

  <div nz-col nzSpan="12">
    <font size="5">Risks</font>
    <font size="4" style="vertical-align: bottom">
      of Security Issues In Online Learning
    </font>
    <br />
    <span>
      One of the risks of security issues in online learning are authentication
      risks. Usually online classes involve video conferencing, and to gain
      access to these classes each student receives a unique code, email or a
      URL. Although this method is effective to ensure online safety, some
      individuals may still gain access to these meetings, which leads to unsafe
      connections. For example, when visual learning institutions share z
      meeting information, these details can be learned by unauthorized people
      and can access one or more online classes easily.
    </span>
    <br />
    <span>
      Phishing is another security issue in online learning. This can happen
      through emails, when attackers begin by sending fake announcements or
      instructions that deceive students, which enables hackers to access
      sensitive data. An example of phishing is when hackers tricking
      individuals to provide their login details, which allows attackers gaining
      unauthorized access to personal information, coursework, or even changing
      the student's grade.
    </span>
  </div>
</div>
