<div style="margin-left: 10px; margin-right: 10px">
  <nz-tabset
    (nzSelectedIndexChange)="tabChange($event)"
    [nzSelectedIndex]="index"
    nzCentered
  >
    <nz-tab nzTitle="Why"><why></why></nz-tab>
    <nz-tab nzTitle="Communication"><communication></communication></nz-tab>
    <nz-tab nzTitle="Security"><security></security></nz-tab>
    <nz-tab nzTitle="Team Roles"><team-roles></team-roles></nz-tab>
    <nz-tab nzTitle="Portfolio"><elements></elements></nz-tab>
  </nz-tabset>
</div>
