<nz-layout style="min-height: 100vh">
  <nz-sider
    (nzCollapsedChange)="isCollapsed = $event"
    [nzCollapsedWidth]="50"
    nzCollapsible
    style="position: fixed; height: 100%"
  >
    <ul nz-menu nzMode="inline">
      <li
        [nzTooltipTitle]="isCollapsed ? page.menu : ''"
        *ngFor="let page of pages"
        nzTooltipPlacement="right"
        [nzSelected]="url == page.path"
        nz-menu-item
        nz-tooltip
      >
        <span nz-icon [nzType]="page.icon.name" nzTheme="outline"></span>
        <span>
          <a skipLocationChange [routerLink]="page.path">
            {{ page.menu }}
          </a>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout [ngStyle]="{ 'margin-left': isCollapsed ? '50px' : '200px' }">
    <nz-header>
      <h1 nz-typography nzEllipsis>{{ headerMap.get(url) }}</h1>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>
      Made 3 May 2023<br />
      by Clyde Ferrera, Ricky Tsai & Lillian Tukor
    </nz-footer>
  </nz-layout>
</nz-layout>
