<nz-table nzTemplateMode>
  <tbody>
    <tr *ngFor="let memberRole of memberRoles">
      <td>{{ memberRole.name }}</td>
      <td *ngFor="let role of memberRole.roles">{{ role }}</td>
    </tr>
  </tbody>
</nz-table>
