<ul>
  <li>
    <span>
      In online learning environments, communication enables lecturers and
      students exchange information, feedbacks and ideas.
    </span>
    <br />
    <span>It also encourages concerns, participation and responses. </span>
    <br />
    <span>
      Security measures contribute to reducing and maintaining academic
      integrity and dishonesty.
    </span>
    <br />
  </li>
  <br />
  <li>
    <span>
      Universities can create an environment that stimulates effective learning,
    </span>
    <br />
    <span>
      privacy of all participants by setting high priority on communication and
      security.
    </span>
    <br />
    <span>
      In summary, effective communication and security measures promote
      participation, integrity and privacy in online learning.
    </span>
  </li>
  <br />
  <li>
    <span>
      Cheating is discouraged and assessment fairness is guaranteed by methods
    </span>
    <br />
    <span>
      including plagiarism detection software and secure online testing.
    </span>
  </li>
</ul>
