<nz-table nzTemplateMode>
  <thead>
    <tr>
      <th>Portfolio Elements</th>
      <th *ngFor="let element of element | keyvalue">{{ element.key }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Repository and Templates Set up</td>
      <td *ngFor="let element of element | keyvalue">
        {{ element.value ? 'Yes' : 'No' }}
      </td>
    </tr>
  </tbody>
</nz-table>
