*::-webkit-scrollbar {
  display: none;
}

.ant-layout-sider,
.ant-layout-header,
.ant-layout-footer {
  background: #fff;
}

nz-footer {
  text-align: center;
}

.ant-timeline-item-tail {
  border-left: 2px solid #808080;
}
