<div style="margin: 10px">
  <h3>Team Name: <u>CRL</u></h3>
  <h3>Team Coordinator/Leader: <u>Clyde Ferrera</u></h3>
</div>

<div style="margin: 10px">
  <nz-table nzTemplateMode>
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Student ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of teamMember">
        <td>{{ member.lastName }}</td>
        <td>{{ member.firstName }}</td>
        <td>{{ member.studentID }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>

<div style="margin: 10px">
  <nz-table nzTemplateMode>
    <thead>
      <tr>
        <th>Meeting Times</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meetingTime of meetingTimes">
        <td>{{ meetingTime.date }}</td>
        <td>{{ meetingTime.time }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
