<div style="margin: 15px">
  <span nz-dropdown [nzDropdownMenu]="menu">
    <font size="3">
      <b>
        {{
          index == 0
            ? 'How does communication and security result in online learning?'
            : 'Comparison of advantages of communication and security'
        }}
      </b>
    </font>
    <span nz-icon nzType="down" nzTheme="outline"></span>
  </span>
  <nz-dropdown-menu #menu>
    <ul nz-menu nzSelectable>
      <li nz-menu-item (click)="index = 0">
        How does communication and security result in online learning?
      </li>
      <li nz-menu-item (click)="index = 1">
        Comparison of advantages of communication and security
      </li>
    </ul>
  </nz-dropdown-menu>

  <how *ngIf="index == 0"></how>
  <comparison *ngIf="index == 1"></comparison>
</div>
